.card {
  width: 210px;
  height: 320px;
  border: 1px solid white;
  padding: 10px;
  margin: 10px;
  word-wrap: break-word;
}

.card > img {
  width: 100%;
  height: 55%;
}

.restaurant-list {
  display: flex;
  flex-wrap: wrap;
}
